# API Test

In [1]:
import numpy as np 
import pandas as pd
import requests
import json

In [2]:
df_test = pd.read_csv('../Data/test.csv')
df_test.head()

       id Gender  Age  Driving_License  Region_Code  Previously_Insured Vehicle_Age Vehicle_Damage  Annual_Premium  Policy_Sales_Channel  Vintage
0  381110   Male   25                1         11.0                   1    < 1 Year             No         35786.0                 152.0       53
1  381111   Male   40                1         28.0                   0    1-2 Year            Yes         33762.0                   7.0      111
2  381112   Male   47                1         28.0                   0    1-2 Year            Yes         40050.0                 124.0      199
3  381113   Male   24                1         27.0                   1    < 1 Year            Yes         37356.0                 152.0      187
4  381114   Male   27                1         28.0                   1    < 1 Year             No         59097.0                 152.0      297

In [3]:
df_test = df_test.sample(10)

In [4]:
data = json.dumps(df_test.to_dict(orient='records'))

In [5]:
url = 'http://127.0.0.1:5000/predict'
header = {'Content-type' : 'application/json'}

r = requests.post(url,data=data,headers=header)
print('Status Code {}'.format(r.status_code))

Status Code 200

In [7]:
d1 = pd.DataFrame(r.json(),columns=r.json()[0].keys())
d1.sort_values('score',ascending=False).head()

       id  gender  age  driving_license  region_code  previously_insured vehicle_age vehicle_damage  annual_premium  policy_sales_channel  vintage     score
0  417730    Male   49                1           34                   0    1-2 Year            Yes         30604.0                   124      132  0.246165
1  460764    Male   51                1            8                   0    1-2 Year            Yes          2630.0                   124      286  0.224177
4  436740    Male   60                1           35                   0    1-2 Year            Yes         27674.0                   116       80  0.148364
3  403366  Female   44                1           28                   1    1-2 Year            Yes         68718.0                   125      266  0.005737
5  474877  Female   28                1           39                   1    < 1 Year             No         41750.0                   156      252  0.001077