# API Test

In [7]:
import numpy as np 
import pandas as pd
import requests
import json

In [8]:
df_test = pd.read_csv('../Data/test.csv')
df_test.head()

       id Gender  Age  Driving_License  Region_Code  Previously_Insured Vehicle_Age Vehicle_Damage  Annual_Premium  Policy_Sales_Channel  Vintage
0  381110   Male   25                1         11.0                   1    < 1 Year             No         35786.0                 152.0       53
1  381111   Male   40                1         28.0                   0    1-2 Year            Yes         33762.0                   7.0      111
2  381112   Male   47                1         28.0                   0    1-2 Year            Yes         40050.0                 124.0      199
3  381113   Male   24                1         27.0                   1    < 1 Year            Yes         37356.0                 152.0      187
4  381114   Male   27                1         28.0                   1    < 1 Year             No         59097.0                 152.0      297

In [9]:
df_test = df_test.sample(10)

In [10]:
data = json.dumps(df_test.to_dict(orient='records'))

In [11]:
#url = 'http://127.0.0.1:5000/predict'
url = 'https://vehicle-insurance-app.herokuapp.com/predict'
header = {'Content-type' : 'application/json'}

r = requests.post(url,data=data,headers=header)
print('Status Code {}'.format(r.status_code))

Status Code 200

In [12]:
d1 = pd.DataFrame(r.json(),columns=r.json()[0].keys())
d1.sort_values('score',ascending=False).head()

       id  gender  age  driving_license  region_code  previously_insured vehicle_age vehicle_damage  annual_premium  policy_sales_channel  vintage     score
2  502789  Female   47                1           28                   0    1-2 Year            Yes         25946.0                   124      229  0.293491
1  501368    Male   49                1            3                   0    1-2 Year            Yes          2630.0                   156       38  0.287366
7  425861    Male   40                1           52                   0    1-2 Year            Yes          2630.0                   156      231  0.258362
0  381259    Male   29                1           28                   0    < 1 Year             No          2630.0                   158      194  0.089085
3  494528  Female   23                1            8                   0    < 1 Year            Yes         44157.0                   152      240  0.079592